extends layout 
block content 
  form.contact_us_container
      .contact_us   
          input(class="nomPrenom",type="text", placeholder="First Name")
          input(class="nomPrenom",type="text",placeholder="Last Name")
          input(id="email",type="email", placeholder="Email Address")
          textarea(id="message",type="text",placeholder="white your message")
block content2 
  title Contact us | Website
       