@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
body {
  background-image: linear-gradient(to left bottom, #8066a4, #c78ec5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
}

.footer {
  display: flex;
  justify-content: center;
}
nav {
  margin-top: 10px;
}
ul,
.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}
li,
.pages a {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}
li a:hover {
  text-decoration: line-through;
}

.presentation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation_content {
  padding: 10%;
  height: 45%;
  width: 120vh;
  border-radius: 2px;
}
.pages {
  position: absolute;
  bottom: 10px;
  left: 30%;
  right: 30%;
}
.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.services div {
  width: 380px;
  height: 300px;

  color: white;

  border-radius: 5px;
  margin-top: 50px;
}
.service_1,
.service_2,
.service_3 {
  padding: 20px;
  color: white;
}
h3 {
  margin-bottom: 20px;
}
.contact_us_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
}
textarea {
  height: 250px;
}
input[type="text"],
input[type="email"] {
  height: 30px;
}
input[type="text"],
input[type="email"],
textarea {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(7px);
  margin: 5px;
  border: 1px groove white;
  border-radius: 8px;
  width: 400px;
}

.presentation_content,
.services div,
.contact_us {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(7px);
  border: 1px solid rgb(170, 170, 170);
}
.contact_us p {
  color: white;
  font-size: 20px;
}
